$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#headername {
    /*things go here*/
}

#welcomeimage {}

#coffeeofthemonth{}

#welcometext{}

#i3{}

#i4 {}

#i7{}

#robo1 {}

#imgrobo1{}

#robo2 {}

#imgrobo2 {}

#robo3 {}

#imgrobo3 {}

#8 {}

#16 {}

#3ds {}

#ss{}

#vrh {}

#producttemplate {}

.navbar-background{}

.submitbutton {}

.headerlogo {
}

#resize {
    max-width: 150px;
    max-height: 150px;
}

.searchbox{}

.navlink {}

.textcontent {}

.mainlink {}

.smalltext {}

.backgroundgradient {}

